.container {
  padding: 16px;
}
.head {
  position: sticky;
  top: 62px;
  left: 16px;
  z-index: 100;
  display: flex;
  align-items: center;
  background: #fff;
  width: max-content;
}

.head:hover {
  cursor: pointer;
  color: #00a8ff;
  text-decoration: underline;
}
